backend:
  name: git-gateway
  branch: main

media_folder: "assets/blog"
public_folder: "/assets/blog"

collections:
  - name: "blog"
    label: "Blog"
    folder: "content/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Featured Image", name: "image", widget: "image", required: false }
      - { label: "Category", name: "category", widget: "select", options: ["Testimony", "Ministry Update", "Prayer Request", "Resources", "News"], required: false }
      - { label: "Author", name: "author", widget: "string", default: "EMS Chaplaincy Team" }
      - { label: "Body", name: "body", widget: "markdown" }
